<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Adoption</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="text-center">
      <% if (!petType) { %>
      <h1 class="mb-4">Adopt a Pet!</h1>
      <p class="mb-8">
        Browse through the links below to find your new furry friend:
      </p>
      <ul class="space-y-4">
        <% categories.forEach(category => { %>
        <li>
          <a href="<%= category.href %>"><%= category.name %></a>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <h1>List of <%= petType %></h1>
      <ul>
        <% petsOfType.forEach(pet => { %>
        <li>
          <a href="/animals/<%= petType %>/<%= pet.id %>"><%= pet.name %></a>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
